body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f8f8f8;
}

h1 {
    color: #444;
}

li {
    background: white;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}
